.box {
    width: 100px;
    height: 100px;
    padding: 8%;
}
.grid{
    margin:0 auto;
    max-width: 50%;
}
.buttons{
    width: 150px;
}
.fourButtons{
    display:flex;
    justify-content:center;
}
.resetPage{
    float:left;
    background-color:red;
}